################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/学习笔记新得
/_netrc
/WeChat
/Videos
/source
/Searches
/Saved Games
/OneDrive
/ntuser.ini
/NTUSER.DAT{48f27cd1-6cb4-11ec-94d4-008cfab0dbc9}.TMContainer00000000000000000002.regtrans-ms
/NTUSER.DAT{48f27cd1-6cb4-11ec-94d4-008cfab0dbc9}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{48f27cd1-6cb4-11ec-94d4-008cfab0dbc9}.TM.blf
/ntuser.dat.LOG2
/ntuser.dat.LOG1
/NTUSER.DAT
/Music
/MicrosoftEdgeBackups
/Links
/LearnJAVA
/IntelGraphicsProfiles
/Favorites
/Downloads
/Documents
/Contacts
/BIT17FB.tmp
/AppData
/.vscode
/.vs
/.ssh
/.rest-client
/.nuget
/.npmrc
/.node_repl_history
/.librarymanager
/.gitconfig
/.git-for-windows-updater
/.dotnet
/.config
/.cache
/.bash_history
/BIT968.tmp
